header{
    display: flex;
    flex-direction: column;
    position: center;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
}

#formContainer{
    display: flex;
    flex-direction: column;
    position: center;
    justify-content: center;
    text-align: center;
}

#ttt {
    text-align: center;
    justify-content: center;
}

button{
    position: center;
    padding-top: 20px;
    margin-top: 20px;
}

#table2{
    text-align: center;
}

.h2, h2{
    text-align: center;
    position: center;
}

.table {
    justify-content: center; position: center;
}

footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    padding: 10px; /* Поля вокруг текста */
    background: black; /* Цвет фона */
    text-align: center;
}

form{
    width: 550px;
    margin: 0 auto;
}
